<!-- About (how it’s made?)

tradition and love - является лейблом заголовка и не выделяется тегом заголовка.
how it’s made? - является заголовком секции.


В секции представлен блок с параграфами и кнопкой “Read more”. 
Кнопка должна открывать модальное окно с полным описанием. 
Так как дизайна модального окна нет, это является дополнительным заданием.

Декоративное изображение с коровой, сохранить в png формате, чтобы сохранить прозрачность изображения.

Фоновое изображение молока должно занимать всю ширину секции и находится по краям экрана.
 -->

<section class="section about">
    <div class="container about-container">
        <p>tradition and love</p>
        <h2>how it's made?</h2>
        
    </div>
</section>