<!-- About (how it’s made?)

tradition and love - является лейблом заголовка и не выделяется тегом заголовка.
how it’s made? - является заголовком секции.


В секции представлен блок с параграфами и кнопкой “Read more”. 
Кнопка должна открывать модальное окно с полным описанием. 
Так как дизайна модального окна нет, это является дополнительным заданием.

Декоративное изображение с коровой, сохранить в png формате, чтобы сохранить прозрачность изображения.

Фоновое изображение молока должно занимать всю ширину секции и находится по краям экрана.
 -->

<section class="section about container">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it's made?</h2>
    <ul class="about-list">
        <li class="about-list__half">
            <img class="about-img" src="../images/about-cow.png" width="501" height="501" alt="Корова и молоко">
        </li>
        <li class="about-list__half">
            <p class="about-article-1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
            <p class="about-article-2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
                orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            <p class="about-article-2">Aliquam erat volutpat. Aenean accumsan.</p>
            <button type="button" class="about-btn" data-modal-open>
                Read more
            </button>
        </li>
    </ul>
</section>

<!-- <section class="about container">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it's made?</h2>
    <div class="about-img">
        <img class="" src="../images/about-cow.png" width="501" height="501" alt="Корова и молоко">
    </div>
    <div class="about-txt">
        <p class="about-article-1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
        <p class="about-article-2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p class="about-article-2">Aliquam erat volutpat. Aenean accumsan.</p>
    </div>
</section>  -->