<!-- Advantages

В секции нет видимого заголовка. Необходимо сделать скрытый заголовок для краулеров.

В секции находится список преимуществ. Его нужно реализовать как сетку элементов.

Иконки преимуществ в макете отрисованы в png формате. В вёрстке их нужно реализовать псевдоэлементами.
 -->

 <section class="advantages">
    <div class="advantages__container container">
        <ul class="advantages__list list">
            <li class="advantages__item">
                <p class="advantages__text">
                    <span class="advantages__number">721</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__text">
                    <span class="advantages__number">16kg</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__text">
                    <span class="advantages__number">84</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
 </section> 