<!-- Contacts

В секции нет видимого заголовка. Необходимо сделать скрытый заголовок для краулеров.

В секции находится список адресов представительств компании. Его нужно реализовать как сетку элементов.

Надписи Cafe и Food Truck не являются заголовками. Это категории представительств. 

Контактные номера телефонов и email являются ссылками. Их нужно реализовать с использованием ссылочных протоколов.

Кнопки  Our Locations и Franchise должны открывать модальное окно с маркированной картой. Так как дизайна модального окна нет, это можно реализовать дополнительно.
 -->