<!-- Customer Reviews

В секции представлен слайдер с отзывами покупателей. 

Маркеры внизу слайда (домик и маркеры) это постраничная пагинация слайдера. 
Если вы подключаете библиотеку слайда к проекта, их не нужно верстать, они генерируются библиотекой автоматически. Нужно будет только сделать стилизацию пагинации.

Иконка кавычек это псевдоэлемент слайда. 

Маркеры под текстом отзыва выполнить псевдоэлементами. 

Подчеркивания текста реализовать градиентом (repeating-linear-gradients). -->
<section class="customer-reviews">
  <div class="customer-reviews-container">
    <img class="customer-photo" src="/images/emily" alt="customer photo" />
    <p class="customer-reviews__reviews"></p>
  </div>
</section>
