<!-- Customer Reviews

В секции представлен слайдер с отзывами покупателей. 

Маркеры внизу слайда (домик и маркеры) это постраничная пагинация слайдера. 
Если вы подключаете библиотеку слайда к проекта, их не нужно верстать, они генерируются библиотекой автоматически. Нужно будет только сделать стилизацию пагинации.

Иконка кавычек это псевдоэлемент слайда. 

Маркеры под текстом отзыва выполнить псевдоэлементами. 

Подчеркивания текста реализовать градиентом (repeating-linear-gradients). -->
<section class="customer-reviews">
  <div class="customer-reviews-container">
    <img
      class="customer-reviews_photo"
      srcset="
        ./images/customer-reviews/emily.jpg    1x,
        ./images/customer-reviews/emily@2x.jpg 2x
      "
      src="./images/customer-reviews/emily.jpg"
      alt="customer photo"
      width="85px"
      height="85px"
    />
    <p class="customer-reviews__reviews">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <p class="customer-reviews_name">Emily, Los Angeles</p>
  </div>
</section>
