<!-- Hero Header

В шапке находится лого, меню навигации и кнопка. На мобильной и планшетной версии меню навигации отображается, как выезжающая боковая панель. 
Мобильное меню фиксированное, высота соответствует высоте вьюпорта.

Меню реализовано якорными ссылками, которые ведут на соответствующие разделы макета.

Кнопка “Buy now” открывает модальное окно с формой заказа. Так как дизайна модального окна нет на макете, это является не обязательным заданием.

Текст “Ice cream made with passion” является заголовком страницы.

Кнопки под заголовок “Products” и “How it’s made” являются якорными ссылками на соответствующие разделы.

Картинки на герое спозиционировать абсолютно. Дополнительно им можно сделать анимированное появление при загрузке странице.
 -->
<header class="page-header">
  <div class="container page-header__container">
    <a href="/src/index.html" class="logo link page-header__logo">
      <svg class="logo__icon" width="199" height="50">
        <use href="/src/images/icons/icons.svg#icon-logo-icecream"></use>
      </svg>
    </a>
    <nav class="page-header__navigation">
      <ul class="page-header__menu list">
        <li class="page-header__item item">
          <a href="" class="link page-header__link">Home</a>
        </li>
        <li class="page-header__item item">
          <a href="" class="link page-header__link">About us</a>
        </li>
        <li class="page-header__item item">
          <a href="" class="link page-header__link">How it’s made?</a>
        </li>
        <li class="page-header__item item">
          <a href="" class="link page-header__link">Our products</a>
        </li>
        <li class="page-header__item item">
          <a href="" class="link page-header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu__burger-btn btn" data-menu-open>
      <svg class="mobile-menu__burger-btn__icon" width="20" height="12">
        <use href="/src/images/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button type="button" class="page-header__mobile-menu-btn btn">
      Buy now
      <svg class="page-header__mobile-menu__btn-svg" width="4px" height="8px">
        <use href="../src/images/icons/icons.svg#icon-arrow-right-mini"></use>
      </svg>
    </button>
  </div>
</header>
