<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__titel">
      ice cream made with<span class="hero__titel-pink">passion</span>
    </h1>
    <ul class="hero__nav-list list">
      <li class="hero__nav-item">
        <a href="" class="hero__nav-link link">Products</a>
      </li>
      <li class="hero__nav-item">
        <a href="" class="hero__nav-link second-link link">How it’s made?</a>
      </li>
    </ul>
    <ul class="hero__cafes-list list">
      <li class="hero__cafes-item">
        <p class="hero__cafes-description">
          <span class="hero__cafes-number">16</span>cafes
        </p>
      </li>
      <li class="hero__cafes-item">
        <p class="hero__cafes-description">
          <span class="hero__cafes-number">23</span>food trucks
        </p>
      </li>
    </ul>
    <div class="hero__description-wrapper">
      <p class="hero__description-text"></p>
      <a href="" class="hero__description-link link">
        <img
          class="hero__description-img img"
          src="/src/images/gallery/desktop-gallery-img-1.png"
          alt="стрелка вправо"
        />
      </a>
    </div>
    <ul class="hero__images-list list">
      <li class="hero__images-item">
        <img
          src="/src/images/gallery/desktop-gallery-img-1.png"
          alt="стрелка вправо"
          class="hero__images img"
        />
      </li>
      <li class="hero__images-item">
        <img
          src="/src/images/gallery/desktop-gallery-img-1.png"
          alt="стрелка вправо"
          class="hero__images img"
        />
      </li>
      <li class="hero__images-item">
        <img
          src="/src/images/gallery/desktop-gallery-img-1.png"
          alt="стрелка вправо"
          class="hero__images img"
        />
      </li>
    </ul>
  </div>
</section>
