<!-- Products

100% natural - является лейблом заголовка и не выделяется тегом заголовка.
products - является заголовком секции.


Карточки товаров оформить как сетку элементов.

Изображения на карточках товаров являются декоративными, их нужно реализовать псевдоэлементами.

Названия продуктов являются заголовками.

Декоративный элемент многоточие под заголовком, выполнить псевдоэлементом.

Кнопка со стрелкой внизу карточки, должна открывать подробное описание продукта. Так как дизайна описания нет, это является дополнительным заданием.
 -->

 <section class="container">
<p>100% natural</p>
<h2>products</h2>
</section>