.about__subtitle{
    font-family: var(--secondary-font-family);
    @include font(18px, 21px, 400);
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
    margin-top: 60px;
    margin-bottom: 15px;
}

.about__title{
    font-family: var(--secondary-font-family);
    @include font(34px, 40px, 400);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    margin-bottom: 32px;
}

.about{
    padding-top: 60px;
    background-color: var(--accent-bg-color);
}

.about__list{
    display: block;
}

.about__half{
    margin-bottom: 40px;
}

.about__half:last-child{
    margin-bottom: 0px;
}

.about__half-article-1{
    font-family: var(--primary-font-family);
    @include font(12px, 19px);
    text-align: left;
    color: #000000;
}

.about__half-article-2{
    font-family: var(--primary-font-family);
    @include font(12px, 19px);
    text-align: left;
    color: #907E82;
}

.about-btn{
    width: 176px;
    height: 44px;
    text-align: center;
    color: var(--primary-accent-color);
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3125;
    display: flex;
    transition: background-color 300ms var(--primary-cubic-bezier);
    border-radius: 22px;
}


// TABLET
@media screen and(min-width:768px) {
    .about__subtitle{
        font-family: var(--secondary-font-family);
        @include font(26px, 30px, 400);
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-accent-color);
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .about__title{
        font-family: var(--secondary-font-family);
        @include font(48px, 55px, 400);
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-accent-color);
        margin-bottom: 40px;
    }

    .about{
        padding-top: 60px;
    }

    .about__list{
        display: flex;
        justify-content: space-between;
    }

    // .about__half{
    //     margin-right: 32px;
    // }

    // .about__half:last-child{
    //     margin-bottom: 0px;
    // }

    .about__half-article-1{
        font-family: var(--primary-font-family);
        @include font(14px, 24px);
        text-align: left;
        color: #000000;
    }

    .about__half-article-2{
        font-family: var(--primary-font-family);
        @include font(14px, 24px);
        text-align: left;
        color: #907E82;
    }

    .about-btn{
        width: 176px;
        height: 44px;
        text-align: center;
        color: var(--primary-accent-color);
        background-color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3125;
        display: flex;
        transition: background-color 300ms var(--primary-cubic-bezier);
        border-radius: 22px;
    }   
}


// DESKTOP
@media screen and(min-width:1280px) {
    .about__subtitle{
        font-family: var(--secondary-font-family);
        @include font(30px, 34px, 400);
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-accent-color);
        margin-bottom: 15px;
    }

    .about__title{
        font-family: var(--secondary-font-family);
        @include font(58px, 66px, 400);
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-accent-color);
        margin-bottom: 60px;
    }

    .about{
        padding-top: 60px;
    }

    .about__list{
        display: flex;
        justify-content: space-between;
    }

    // .about__half{
    //     margin-right: 99px;
    // }

    // .about__half:last-child{
        
    // }

    .about__half-article-1{
        font-family: var(--primary-font-family);
        @include font(16px, 28px);
        text-align: left;
        margin-top: 90px;
        margin-bottom: 32px;
        color: #000000;
    }

    .about__half-article-2{
        font-family: var(--primary-font-family);
        @include font(16px, 28px);
        text-align: left;
        margin-bottom: 40px;
        color: #907E82;
    }

    .about-btn{
        width: 176px;
        height: 44px;
        text-align: center;
        color: var(--primary-accent-color);
        background-color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        margin-bottom: 81px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3125;
        display: flex;
        transition: background-color 300ms var(--primary-cubic-bezier);
        border-radius: 22px;

        &:hover,
        &:focus {
            background-color: #ECEBEB;
        }
    }
}