.about__subtitle{
    font-family: var(--secondary-font-family);
    @include font(18px, 21px, 400);
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
    margin-top: 60px;
    margin-bottom: 15px;
}

.about__title{
    font-family: var(--secondary-font-family);
    @include font(34px, 39px, 400);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    margin-bottom: 32px;
}

.about{
    padding-top: 60px;
    background-color: var(--accent-bg-color);
}

.about__list{
    display: flex;
}

.about__half{
    margin-bottom: 40px;
}

.about__half:last-child{
    margin-bottom: 0px;
}

.about__half-article-1{
    font-family: var(--primary-font-family);
    @include font(12px, 19px);
    text-align: left;
    color: #000000;
}

.about__half-article-2{
    font-family: var(--primary-font-family);
    @include font(12px, 19px);
    text-align: left;
    color: #907E82;
}

.about-btn{
    display: flex;
    @include font(14px, 18px, 700);
    align-items: center;
    text-align: center;
    border: transparent;
    border-radius: 22px;   
    cursor: pointer;
    padding-left: 37px;
    background-color: var(--text-color-theme-dark);
    color: var(--primary-accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
}


// TABLET
@media screen and(min-width:768px) {
    .about__subtitle{
        font-family: var(--secondary-font-family);
        @include font(26px, 30px, 400);
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-accent-color);
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .about__title{
        font-family: var(--secondary-font-family);
        @include font(48px, 55px, 400);
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-accent-color);
        margin-bottom: 40px;
    }

    .about{
        padding-top: 60px;
    }

    .about__list{
        display: flex;
    }

    .about__half{
        margin-right: 32px;
    }

    .about__half:last-child{
        margin-bottom: 0px;
    }

    .about__half-article-1{
        font-family: var(--primary-font-family);
        @include font(14px, 24px);
        text-align: left;
        color: #000000;
    }

    .about__half-article-2{
        font-family: var(--primary-font-family);
        @include font(14px, 24px);
        text-align: left;
        color: #907E82;
    }

    .about-btn{
        display: flex;
        @include font(16px, 21px, 700);
        align-items: center;
        text-align: center;
        border: transparent;
        border-radius: 22px;   
        cursor: pointer;
        padding-left: 37px;
        background-color: var(--text-color-theme-dark);
        color: var(--primary-accent-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: #ECEBEB;
        }
    }   
}


// DESKTOP
@media screen and(min-width:1280px) {
    .about__subtitle{
        font-family: var(--secondary-font-family);
        @include font(30px, 34px, 400);
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-accent-color);
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .about__title{
        font-family: var(--secondary-font-family);
        @include font(58px, 66px, 400);
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-accent-color);
        margin-bottom: 60px;
    }

    .about{
        padding-top: 60px;
    }

    .about__list{
        display: flex;
    }

    .about__half{
        margin-right: 99px;
        padding-left: 15px;
        padding-bottom: 20px;
    }

    .about__half:last-child{
        padding-top: 90px;
        padding-right: 121px;
    }

    .about__half-article-1{
        font-family: var(--primary-font-family);
        @include font(16px, 28px);
        text-align: left;
        color: #000000;
    }

    .about__half-article-2{
        font-family: var(--primary-font-family);
        @include font(16px, 28px);
        text-align: left;
        color: #907E82;
    }

    .about-btn{
        display: flex;
        @include font(16px, 21px, 700);
        align-items: center;
        text-align: center;
        border: transparent;
        border-radius: 22px;
        max-width: 176px;
        max-height: 44px;   
        cursor: pointer;
        margin-bottom: 81px;
        // padding-left: 38px;
        // padding-right: 38px;
        background-color: var(--text-color-theme-dark);
        color: var(--primary-accent-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: #ECEBEB;
        }
    }
}