.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  background-color: #ffb8ca;
}

.page-header__navigation {
  display: flex;
}

.page-header__menu {
  
  display: none;
}

.page-header__mobile-menu-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    padding-top: 32px;
  }

  .page-header__mobile-menu-btn {
    display: flex;
    justify-content: center;
    @include font(16px, 21px, 700);
    width: 160px;
    height: 44px;
    
    text-align: center;
    color: var(--primary-accent-color);
    background-color: #ffffff;
    border-radius: 22px;
    align-items: center;
    
    margin-right: 0;
  }

  .page-header__mobile-menu__btn-svg {
    width: 9px;
    height: 9px;
    justify-content: center;
    margin-left: 12px;
    stroke: #d41443;
    stroke-width: 2px;
  }

  .mobile-menu__burger-btn {
    margin-left: auto;
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    .mobile-menu__burger-btn {
      display: none;
    }
    .page-header__menu {
      display: flex;
      align-items: center;

    }

    .page-header__container {
      padding-top: 37px;
    }
        .page-header__link {
          @include font(16px, 21px, 700);
          color: var(--text-color-theme-dark);
          

        }
    .page-header__item:not(:last-child) {
      margin-right: 35px;
    }

  }

  /*.page-header__mobile-menu-btn {
    display: flex;
    width: 160px;
    margin-left: auto;
    margin-right: 0;
    height: 44px;
    border-radius: 22px;
    background-color: var(--text-color-theme-dark);
    border-color: red;
    border: 5px;
    text-align: center;


    transition: box-shadow 300ms var(--primary-cubic-bezier);

    &:hover {
      box-shadow: 0px 0px 5px 5px rgba(212, 20, 68, 0.5),
        0px 0px 0px 0px var(--primary-accent-color);
    }
  }
}

.page-header__mobile-menu__btn-svg {
            width: 9px;
            height: 9px;
            margin-left: 12px;
            stroke: var(--primary-accent-color);
            stroke-width: 2px;
            fill: transparent;
        
            transform: scale(1);
        
            transition: transform 300ms var(--primary-cubic-bezier);
        
            .mobile-menu__btn:hover & {
                transform: scale(1.1);
            }*/
}
