.hero__titel {
        font-style: normal;
        @include font(26px, 30px, 400);

        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: #FFFFFF;

       
}

.hero__container {
    padding-top: 194px;
}