.products__title-label {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-accent-color);

  margin-bottom: 15px;
}

.products__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primary-accent-color);

  margin-bottom: 148px;
}

.products-list__item {
  width: 100%;
  min-height: 489px;

  border-radius: 24px;
}

.products-list__item:not(:last-child) {
  margin-bottom: 140px;
}

.products-list__ice-cream {
  position: relative;
  background-color: #ffb8ca;
}

.products-list__coffee {
  background-color: #f0d1a5;
}

.products-list__milkshake {
  background-color: #c2e297;
}

.products-list__item-title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

.products-list__ice-cream::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  background-image: url(../images/products/products-pic-1-mobile.png) 1x,
  url(../images/products/products-pic-1-mobile@2x.png) 2x;
  background-repeat: no-repeat;
  background-position: center;
}


.products-list__coffee::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../images/products/products-pic-2-mobile.png) 1x,
    url(../images/products/products-pic-2-mobile@2x.png);
}


.products-list__item-description {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}
